.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: indigo;
  margin: .6rem;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-top: .7rem;
}

.progress {
  display: block;
  height: 0.625rem;
  border-radius: 0.125rem;
  margin-top: .6rem;
  width: 100%;
}
progress::-webkit-progress-bar {
  background: #e0e0e0;
  
}

.progress::-webkit-progress-value {
  background: indigo;
}
.count {
  text-align: center;
}
.total {
  font-size: 30px;
  line-height: 1.25rem;
}
