@import url('https://fonts.googleapis.com/css?family=Raleway');
body,
body * {
	color: #666;
	font-family: 'Raleway', sans-serif;
}

svg {
	fill: #888;
}

.fullWidth {
	width: 100%;
}

header .logo strong {
	font-size: 1.6rem;
	line-height: 3.2rem;
	color: #eee;
}

nav.drawer section a {
	padding: .6rem;
	text-decoration: unset;
}

.profile-part {
	background-color: violet;
	height: 220px;
}

.card {
	border-color: #e4e4e4;
}

.card .section {
	border-color: #e4e4e4;
}
@media screen and (max-width: 700px) {
	.container {
		margin: 0;
		padding: 0;
	}
}
/*
	Scroll bar custom
*/

*::-webkit-scrollbar{
  width: 8px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aaa;
  border: 1px solid #aaa;
}
*::-webkit-scrollbar-thumb:hover {
  background: #888;
}
*::-webkit-scrollbar-thumb:active {
  background: #555;
}